* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #292c34;
  font-family: "Asap", sans-serif;
  color: white;
}

header {
  background: #fff;
  padding: 20px;
}

header > h1 {
  color: #24272e;
  text-align: center;
}

.score-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  text-align: center;
  position: relative;
  align-items: center;
}

.score-container i {
  padding: 15px;
  border-radius: 50%;}

.score-container .far, .score-container .fas {
  font-size: 3.5em;
  color: white;
}

.user-profile {
  padding: 15px;
  justify-self: end;
}

.computer-profile {
  padding: 15px;
  justify-self: start;
}

.player-glow {
  box-shadow: 0 0 12px 5px #2ea732;
}


.score-part {
  grid-row: span;
}

.score-board {
  border: solid white 3px;
  width: 200px;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 46px;
  border-radius: 5px;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: #35d500;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -25px;
}

.result {
  font-size: 40px;
  color: white;
  padding-top: 1em;
  line-height: 1.5;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

/* font-awesome icons */
.far, .fas {
  font-size: 5em;
  color: #35d500;
}

.choices {
  text-align: center;
  margin: 50px 0;
}

.choice {
  display: inline-block;
  border: 5px solid white;
  border-radius: 50%;
  padding: 25px;
  margin: 12px;
  transition: all 0.4s ease;
}

.choice:hover {
  cursor: pointer;
  background: #16181d;
}

.action-message {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-top: 25px;
}

.green-glow {
  border: 5px solid #48fe4e;
  box-shadow: 0 0 10px #2ea732;
}

.red-glow {
  border: 5px solid #fe4848;
  box-shadow: 0 0 10px #a72e2e;
}

.grey-glow {
  border: 5px solid #8e8e8e;
  box-shadow: 0 0 10px #545454;
}

.reset-button {
  display: block;
  border: 5px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 6px auto;
  transition: all 0.4s ease;
  text-align: center;
  width: 200px;
  font-size: 0.6rem;
}

.reset-button:hover {
  cursor: pointer;
  background: #16181d;
}

/* --- colour picker --- */

.colour-picker {
  width: 35%;
  margin: 2em auto;
  border: 3px white solid;
  padding: 25px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.colour-form {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-row-gap: 12px;
}

label, input {
  display: block;
  padding: 6px;
}

